@charset "UTF-8";
/***** CONTAINERS *****/
.wrapper {
  display: table;
  width: 100%;
  height: 100%; }
  .wrapper > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center; }

.container {
  position: relative; }
  .container:after {
    content: '';
    display: block;
    clear: both; }
  .container .column {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .container .col-9 {
    width: 75%; }
  .container .col-8 {
    width: 66.6666666667%; }
  .container .col-6 {
    width: 50%; }
  .container .col-4 {
    width: 33.3333333333%; }
  .container .col-3 {
    width: 25%; }
  .container .col-2 {
    width: 16.6666666667%; }
  .container .middle {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    margin: 0 0 0 -25%; }

.container--reverse .column {
  float: right; }

.container--same-height-columns {
  position: relative; }
  .container--same-height-columns .column {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
  .container--same-height-columns .column--highest {
    position: static; }

/***** MODULES *****/
.dropdown {
  position: relative;
  display: block; }
  .dropdown .dropdown__header {
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none; }
  .dropdown .dropdown__list-container {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .dropdown .dropdown__list > li {
    display: block; }
  .dropdown .dropdown__list a {
    display: block; }

.dropdown--expanding .dropdown__list-container {
  position: relative;
  top: 0; }

.dropdown--upwards .dropdown__list-container {
  top: auto;
  bottom: 100%; }

.bookmarks-manager {
  max-width: 900px;
  margin: 0 auto; }
  .bookmarks-manager .bookmarks-manager__bookmarks {
    text-align: center; }
    @media (min-width: 768px) {
      .bookmarks-manager .bookmarks-manager__bookmarks {
        padding: 0 0 20px 0; } }
  .bookmarks-manager .bookmarks-manager__bookmark-container {
    display: block; }
    @media (min-width: 768px) {
      .bookmarks-manager .bookmarks-manager__bookmark-container {
        display: inline-block; } }
  .bookmarks-manager .bookmarks-manager__bookmark {
    cursor: pointer;
    padding: 20px; }
    @media (min-width: 1300px) {
      .bookmarks-manager .bookmarks-manager__bookmark {
        padding-left: 40px;
        padding-right: 40px; } }
  .bookmarks-manager .bookmarks-manager__bookmark-container .bookmarks-manager__bookmark-content {
    display: none; }
  .bookmarks-manager .bookmarks-manager__content-container {
    display: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    @media (min-width: 768px) {
      .bookmarks-manager .bookmarks-manager__content-container {
        display: block; } }
  .bookmarks-manager .bookmarks-manager__content-wrapper {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }

.simple-bookmark {
  font-weight: 700; }
  .simple-bookmark .simple-bookmark__number {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 5px 0; }

.simple-bookmark.active {
  color: #213988; }

.details-list {
  list-style-type: none;
  max-width: 700px;
  margin: 0 auto; }
  .details-list .details-list__item {
    display: block; }
  .details-list .details-list__title {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 700;
    border-bottom: 1px solid #0f2672; }
    .details-list .details-list__title .details-list__arrow {
      position: absolute;
      top: 13px;
      right: 5px; }
  .details-list .details-list__content {
    padding: 10px 20px; }

.categorized-items__categories {
  text-align: center;
  list-style-type: none;
  padding: 0 0 40px 0; }
  .categorized-items__categories > li {
    display: block;
    padding: 10px 0;
    cursor: pointer; }
    @media (min-width: 480px) {
      .categorized-items__categories > li {
        display: inline-block;
        padding: 0 20px; } }
    .categorized-items__categories > li.active {
      color: #0f2672;
      font-weight: 700; }
.categorized-items__item {
  display: block; }
.categorized-items__no-items {
  float: none;
  display: block;
  padding: 20px;
  text-align: center; }
.categorized-items__content-container {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

/***** MENU *****/
.slide-menu {
  position: fixed;
  z-index: 4000;
  height: 100%;
  display: block;
  text-align: center;
  width: 100%;
  background: #f6f6f6;
  overflow-x: hidden;
  overflow-y: auto; }
  .slide-menu .slide-menu__inner {
    padding: 80px 60px; }

/** fade **/
.slide-menu--fade {
  display: none; }

.slide-menu--fade.slide-menu--top {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto; }

.slide-menu--fade.slide-menu--right {
  top: 0;
  left: auto;
  right: 0;
  bottom: auto; }

.slide-menu--fade.slide-menu--bottom {
  top: auto;
  left: 0;
  right: auto;
  bottom: 0; }

.slide-menu--fade.slide-menu--left {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto; }

/** slide **/
.slide-menu--slide {
  display: block;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.slide-menu--slide.slide-menu--top {
  top: -100%;
  left: 0;
  right: auto;
  bottom: auto; }

.slide-menu--slide.slide-menu--top.slide-menu--open {
  top: 0; }

.slide-menu--slide.slide-menu--right {
  top: 0;
  left: auto;
  right: -100%;
  bottom: auto; }

.slide-menu--slide.slide-menu--right.slide-menu--open {
  right: 0; }

.slide-menu--slide.slide-menu--bottom {
  top: auto;
  left: 0;
  right: auto;
  bottom: -100%; }

.slide-menu--slide.slide-menu--bottom.slide-menu--open {
  bottom: 0; }

.slide-menu--slide.slide-menu--left {
  top: 0;
  left: -100%;
  right: auto;
  bottom: auto; }

.slide-menu--slide.slide-menu--left.slide-menu--open {
  left: 0; }

/** slide-fade **/
.slide-menu--slide-fade {
  display: block;
  opacity: 1;
  -webkit-transition: all 0.3s linear 0.4s;
  -moz-transition: all 0.3s linear 0.4s;
  -o-transition: all 0.3s linear 0.4s;
  transition: all 0.3s linear 0.4s; }
  .slide-menu--slide-fade .slide-menu__inner {
    opacity: 0;
    -webkit-transition: opacity 0.3s linear 0;
    -moz-transition: opacity 0.3s linear 0;
    -o-transition: opacity 0.3s linear 0;
    transition: opacity 0.3s linear 0; }

.slide-menu--slide-fade.slide-menu--open {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .slide-menu--slide-fade.slide-menu--open .slide-menu__inner {
    opacity: 1;
    -webkit-transition: opacity 0.3s linear 0.4s;
    -moz-transition: opacity 0.3s linear 0.4s;
    -o-transition: opacity 0.3s linear 0.4s;
    transition: opacity 0.3s linear 0.4s; }

.slide-menu--slide-fade.slide-menu--top {
  top: -100%;
  left: 0;
  right: auto;
  bottom: auto; }

.slide-menu--slide-fade.slide-menu--top.slide-menu--open {
  top: 0; }

.slide-menu--slide-fade.slide-menu--right {
  top: 0;
  left: auto;
  right: -100%;
  bottom: auto; }

.slide-menu--slide-fade.slide-menu--right.slide-menu--open {
  right: 0; }

.slide-menu--slide-fade.slide-menu--bottom {
  top: auto;
  left: 0;
  right: auto;
  bottom: -100%; }

.slide-menu--slide-fade.slide-menu--bottom.slide-menu--open {
  bottom: 0; }

.slide-menu--slide-fade.slide-menu--left {
  top: 0;
  left: -100%;
  right: auto;
  bottom: auto; }

.slide-menu--slide-fade.slide-menu--left.slide-menu--open {
  left: 0; }

/***** OVERLAYERS *****/
.overlayer-content {
  display: none !important; }

.overlayer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7000;
  background: rgba(0, 0, 0, 0.8);
  color: #000;
  overflow-y: auto;
  padding: 0; }
  .overlayer .overlayer__spinner-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6900;
    display: none;
    font-size: 36px; }
  .overlayer .overlayer__inner {
    position: relative;
    background: #f6f6f6;
    margin: 50px 20px;
    padding: 20px; }
    @media (min-width: 420px) {
      .overlayer .overlayer__inner {
        padding: 40px; } }
    @media (min-width: 768px) {
      .overlayer .overlayer__inner {
        margin: 70px 40px; } }
    @media (min-width: 1300px) {
      .overlayer .overlayer__inner {
        margin: 70px auto;
        max-width: 1160px;
        padding: 80px 60px; } }
  .overlayer .overlayer__close {
    position: absolute;
    top: 10px;
    right: 20px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 7000;
    display: block;
    cursor: pointer; }
    @media (min-width: 768px) {
      .overlayer .overlayer__close {
        top: 20px;
        right: 20px; } }
    @media (min-width: 1700px) {
      .overlayer .overlayer__close {
        top: 30px;
        right: 30px; } }
  .overlayer .overlayer__content {
    display: none; }

.overlayer--popup .overlayer__inner {
  max-width: 400px; }

.page-loading-layer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999; }

/***** ICONS *****/
/* icon hamburger */
.icon-hamburger {
  display: block;
  width: 27px;
  position: relative; }
  .icon-hamburger__inner {
    height: 17px;
    position: relative;
    overflow: hidden; }
    .icon-hamburger__inner > div {
      position: absolute;
      left: 0;
      height: 3px;
      background: #000;
      width: 100%;
      -webkit-border-radius: 1.5px;
      -moz-border-radius: 1.5px;
      border-radius: 1.5px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .icon-hamburger__inner > div:nth-child(1),
    .icon-hamburger__inner > div:nth-child(4) {
      top: 0; }
    .icon-hamburger__inner > div:nth-child(2),
    .icon-hamburger__inner > div:nth-child(5) {
      top: 7px; }
    .icon-hamburger__inner > div:nth-child(3),
    .icon-hamburger__inner > div:nth-child(6) {
      top: 14px; }
    .icon-hamburger__inner > div:nth-child(4) {
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .icon-hamburger__inner > div:nth-child(5) {
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear; }
    .icon-hamburger__inner > div:nth-child(6) {
      -webkit-transition: all 0.6s linear;
      -moz-transition: all 0.6s linear;
      -o-transition: all 0.6s linear;
      transition: all 0.6s linear; }
    .icon-hamburger__inner > .icon-hamburger__hover-item {
      background: #0f2672;
      left: -100%; }
      .icon-hamburger__inner > .icon-hamburger__hover-item:nth-child(4) {
        -webkit-transition: all 0.6s linear;
        -moz-transition: all 0.6s linear;
        -o-transition: all 0.6s linear;
        transition: all 0.6s linear; }
      .icon-hamburger__inner > .icon-hamburger__hover-item:nth-child(5) {
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear; }
      .icon-hamburger__inner > .icon-hamburger__hover-item:nth-child(6) {
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
  .icon-hamburger:hover .icon-hamburger__inner > .icon-hamburger__hover-item, .icon-hamburger:focus .icon-hamburger__inner > .icon-hamburger__hover-item {
    left: 0; }

.icon-hamburger.open .icon-hamburger__inner {
  overflow: visible; }
  .icon-hamburger.open .icon-hamburger__inner > div:nth-child(1),
  .icon-hamburger.open .icon-hamburger__inner > div:nth-child(4) {
    top: 7px;
    left: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg); }
  .icon-hamburger.open .icon-hamburger__inner > div:nth-child(2),
  .icon-hamburger.open .icon-hamburger__inner > div:nth-child(5) {
    opacity: 0;
    left: -100%; }
  .icon-hamburger.open .icon-hamburger__inner > div:nth-child(3),
  .icon-hamburger.open .icon-hamburger__inner > div:nth-child(6) {
    top: 7px;
    left: 0;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.icon-hamburger--medium .icon-hamburger__inner > div {
  background: #0f2672; }

.icon-hamburger--light .icon-hamburger__inner > div {
  background: #fff; }

.icon-hamburger--large {
  width: 32px; }
  .icon-hamburger--large .icon-hamburger__inner {
    height: 20px; }
    .icon-hamburger--large .icon-hamburger__inner > div {
      height: 4px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
    .icon-hamburger--large .icon-hamburger__inner > div:nth-child(1),
    .icon-hamburger--large .icon-hamburger__inner > div:nth-child(4) {
      top: 0; }
    .icon-hamburger--large .icon-hamburger__inner > div:nth-child(2),
    .icon-hamburger--large .icon-hamburger__inner > div:nth-child(5) {
      top: 8px; }
    .icon-hamburger--large .icon-hamburger__inner > div:nth-child(3),
    .icon-hamburger--large .icon-hamburger__inner > div:nth-child(6) {
      top: 16px; }

.icon-hamburger--small {
  width: 20px;
  height: 12px; }
  .icon-hamburger--small .icon-hamburger__inner > div {
    height: 2px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px; }
  .icon-hamburger--small .icon-hamburger__inner > div:nth-child(1),
  .icon-hamburger--small .icon-hamburger__inner > div:nth-child(4) {
    top: 0; }
  .icon-hamburger--small .icon-hamburger__inner > div:nth-child(2),
  .icon-hamburger--small .icon-hamburger__inner > div:nth-child(5) {
    top: 5px; }
  .icon-hamburger--small .icon-hamburger__inner > div:nth-child(3),
  .icon-hamburger--small .icon-hamburger__inner > div:nth-child(6) {
    top: 10px; }

/* icon arrow */
.icon-arrow {
  position: relative;
  width: 14px;
  height: 14px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.icon-arrow--left {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 3px; }

.icon-arrow--up {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg);
  top: 3px; }

.icon-arrow--right {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  left: -3px; }

.icon-arrow--down {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -3px; }

.icon-arrow--small {
  width: 10px;
  height: 10px;
  border-width: 2px; }

.icon-arrow--left.icon-arrow--small {
  left: 2px; }

.icon-arrow--up.icon-arrow--small {
  top: 2px; }

.icon-arrow--right.icon-arrow--small {
  left: -2px; }

.icon-arrow--down.icon-arrow--small {
  top: -2px; }

.icon-arrow--large {
  width: 18px;
  height: 18px;
  border-width: 3px; }

.icon-arrow--medium {
  border-color: #0f2672; }

.icon-arrow--light {
  border-color: #fff; }

/* icon triangular icon */
.icon-triangular-arrow-left {
  border-right: 12px solid #000;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  width: 0; }

.icon-triangular-arrow-left--small {
  border-right-width: 10px;
  border-top-width: 6px;
  border-bottom-width: 6px; }

.icon-triangular-arrow-left--large {
  border-right-width: 14px;
  border-top-width: 8px;
  border-bottom-width: 8px; }

.icon-triangular-arrow-left--medium {
  border-right-color: #0f2672; }

.icon-triangular-arrow-left--light {
  border-right-color: #fff; }

.icon-triangular-arrow-up {
  border-bottom: 12px solid #000;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  width: 0; }

.icon-triangular-arrow-up--small {
  border-bottom-width: 10px;
  border-right-width: 6px;
  border-left-width: 6px; }

.icon-triangular-arrow-up--large {
  border-bottom-width: 14px;
  border-right-width: 8px;
  border-left-width: 8px; }

.icon-triangular-arrow-up--medium {
  border-bottom-color: #0f2672; }

.icon-triangular-arrow-up--light {
  border-bottom-color: #fff; }

.icon-triangular-arrow-right {
  border-left: 12px solid #000;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  width: 0; }

.icon-triangular-arrow-right--small {
  border-left-width: 10px;
  border-top-width: 6px;
  border-bottom-width: 6px; }

.icon-triangular-arrow-right--large {
  border-left-width: 14px;
  border-top-width: 8px;
  border-bottom-width: 8px; }

.icon-triangular-arrow-right--medium {
  border-left-color: #0f2672; }

.icon-triangular-arrow-right--light {
  border-left-color: #fff; }

.icon-triangular-arrow-down {
  border-top: 12px solid #000;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  width: 0; }

.icon-triangular-arrow-down--small {
  border-top-width: 10px;
  border-right-width: 6px;
  border-left-width: 6px; }

.icon-triangular-arrow-down--large {
  border-top-width: 14px;
  border-right-width: 8px;
  border-left-width: 8px; }

.icon-triangular-arrow-down--medium {
  border-top-color: #0f2672; }

.icon-triangular-arrow-down--light {
  border-top-color: #fff; }

/* icon cross */
.icon-plus {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden; }
  .icon-plus:before, .icon-plus:after {
    content: '';
    position: absolute;
    background: #000;
    display: block; }
  .icon-plus:before {
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
    margin: -1px 0 0 0; }
  .icon-plus:after {
    width: 2px;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1px;
    height: 100%; }

.icon-plus--large {
  width: 26px;
  height: 26px; }
  .icon-plus--large:before {
    height: 2px;
    margin: -1px 0 0 0; }
  .icon-plus--large:after {
    width: 2px;
    margin: 0 0 0 -1px; }

.icon-plus--small {
  width: 16px;
  height: 16px; }
  .icon-plus--small:before {
    height: 2px;
    margin: -1px 0 0 0; }
  .icon-plus--small:after {
    width: 2px;
    margin: 0 0 0 -1px; }

.icon-plus--light:before, .icon-plus--light:after {
  background: #fff; }

.icon-plus--medium:before, .icon-plus--medium:after {
  background: #0f2672; }

.icon-plus--rotated {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

/* extended icon */
.extended-icon {
  position: relative;
  display: inline-block; }
  .extended-icon__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .extended-icon:hover .extended-icon__layer, .extended-icon:focus .extended-icon__layer {
    opacity: 1; }

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

*:focus {
  outline: none; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

html {
  font-family: Lato, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000; }

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  a img {
    border: 0; }

img {
  display: inline-block;
  max-width: 100%; }

/***** TEXT *****/
.line {
  display: block; }

.text {
  font-size: 16px;
  line-height: 24px; }
  .text p {
    padding: 5px 0; }

.article .article__header {
  padding: 0 0 10px 0;
  text-align: center; }
.article .article__title {
  font-size: 28px;
  font-weight: 400; }
.article .article__text {
  font-size: 16px;
  line-height: 22px; }
  .article .article__text p {
    padding: 10px 0; }

.variable {
  font-style: italic; }

/***** MENU *****/
#main-menu-toggler {
  position: fixed;
  z-index: 6500;
  top: 30px;
  right: 30px;
  cursor: pointer; }

.menu li {
  display: block;
  padding: 5px 0; }

/***** LISTS *****/
ul {
  list-style-type: none; }

.simple-list {
  list-style-type: none;
  padding: 0 0 0 20px; }
  .simple-list > li {
    display: block;
    padding: 3px 0 3px 15px;
    position: relative; }
    .simple-list > li:before {
      content: '';
      display: block;
      position: absolute;
      top: 14px;
      left: 0;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #000; }

.plain-list > li {
  padding: 8px 0;
  display: block; }
  .plain-list > li:first-child {
    padding-top: 0; }
  .plain-list > li:last-child {
    padding-bottom: 0; }

.icons {
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
  list-style-type: none;
  max-width: 900px; }
  .icons > li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 20px 0; }
    @media (min-width: 650px) {
      .icons > li {
        display: inline-block;
        width: 33.33%;
        padding: 20px 30px;
        margin: 0 0 0 -5px;
        vertical-align: middle; } }
  .icons .icons__icon {
    margin: 0 auto; }

.horizontal-list > li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 -5px;
  padding: 0 35px; }
.horizontal-list > li:first-child {
  padding-left: 0; }
.horizontal-list > li:last-child {
  padding-right: 0; }

/***** HEADER *****/
.site-header {
  overflow: hidden;
  position: relative;
  padding: 80px 0 50px 0;
  -moz-background: -moz-linear-gradient(top, #0f2672 20%, #213988 80%, #213988 100%);
  -webkit-background: -webkit-linear-gradient(top, #0f2672 20%, #213988 80%, #213988 100%);
  -o-background: -o-linear-gradient(top, #0f2672 20%, #213988 80%, #213988 100%);
  -ms-background: -ms-linear-gradient(top, #0f2672 20%, #213988 80%, #213988 100%);
  background: linear-gradient(to bottom, #0f2672 20%, #213988 80%, #213988 100%);
  color: #fff; }
  @media (min-width: 1300px) {
    .site-header {
      padding: 100px 0; } }

.site-title {
  font-size: 36px;
  font-family: Heuristica, "Times New Roman", serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center; }
  @media (min-width: 768px) {
    .site-title {
      font-size: 38px; } }
  @media (min-width: 1300px) {
    .site-title {
      font-size: 40px; } }

/***** HEADERS *****/
.section-header {
  text-align: left;
  padding: 0 0 30px 0; }

.section-title {
  font-family: Heuristica, "Times New Roman", serif;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #0f2672; }

.section-subtitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 1px; }

.subsection-header {
  padding: 0 0 30px 0; }

.subsection-title {
  color: #222;
  font-size: 20px;
  font-weight: 700; }

/***** CONTAINERS *****/
.site-content {
  margin: 0 auto; }

.video {
  display: block;
  position: relative;
  padding-bottom: 56.75%;
  height: 0;
  margin: 0 auto; }
  .video iframe,
  .video video {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.box {
  display: block;
  position: relative;
  padding: 0 0 67.5% 0;
  width: auto; }
  .box__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .box__layer-02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 2; }
  .box:hover .box__layer-02 {
    opacity: 1; }

.boxes {
  list-style-type: none; }
  .boxes:after {
    content: '';
    display: block;
    clear: both; }
  .boxes > li {
    display: block; }
    @media (min-width: 480px) {
      .boxes > li {
        float: left;
        width: 50%; } }
    @media (min-width: 768px) {
      .boxes > li {
        width: 33.33%; } }
    @media (min-width: 1300px) {
      .boxes > li {
        width: 25%; } }

.listing__wrapper {
  padding: 10px 0 20px 0; }
.listing__header {
  padding: 0 0 8px 0; }
.listing__title {
  font-size: 14px; }
.listing__name {
  font-weight: 700; }
.listing__description {
  font-weight: 400;
  font-style: italic; }
  .listing__description:before {
    content: '– '; }
.listing__code {
  border: 1px solid #0f2672;
  background: #f6f6f6;
  padding: 15px 20px;
  overflow: auto; }

.property__name {
  font-family: 'Lato';
  font-weight: 700; }
.property__type {
  font-style: italic; }

.function-parameter__name {
  font-weight: 700; }
.function-parameter__type {
  font-style: italic; }

.function-parameters-list > li {
  display: block;
  padding: 5px 0; }
  .function-parameters-list > li:first-child {
    padding-top: 0; }
  .function-parameters-list > li:last-child {
    padding-bottom: 0; }

.function__name {
  font-weight: 700; }
.function__returned-type {
  font-style: italic; }

/***** MODULES *****/
.dropdown {
  max-width: 300px; }
  .dropdown .dropdown__header {
    padding: 10px 50px 10px 15px;
    border: 1px solid #444;
    -moz-background: -moz-linear-gradient(top, #fafafa 20%, #fff 80%, #fff 100%);
    -webkit-background: -webkit-linear-gradient(top, #fafafa 20%, #fff 80%, #fff 100%);
    -o-background: -o-linear-gradient(top, #fafafa 20%, #fff 80%, #fff 100%);
    -ms-background: -ms-linear-gradient(top, #fafafa 20%, #fff 80%, #fff 100%);
    background: linear-gradient(to bottom, #fafafa 20%, #fff 80%, #fff 100%);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .dropdown .dropdown__header .dropdown__icon {
      position: absolute;
      top: 50%;
      right: 16px;
      margin: -4px 0 0 0;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
  .dropdown .dropdown__title {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px; }
  .dropdown .dropdown__list-container {
    font-size: 14px;
    padding: 0 15px 10px 15px;
    background: #fff;
    border: 1px solid #1959c4;
    border-top: 0;
    margin: -1px 0 0 0; }
  .dropdown .dropdown__list > li {
    padding: 5px 0; }
  .dropdown:hover .dropdown__header, .dropdown:focus .dropdown__header {
    border-color: #1959c4; }

.dropdown.dropdown--open .dropdown__header {
  border-color: #1959c4;
  border-bottom-color: transparent; }
  .dropdown.dropdown--open .dropdown__header .dropdown__icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    margin: -5px 0 0 0; }

.dropdown--choosable .dropdown__list-container {
  padding: 5px 0 10px 0; }
.dropdown--choosable .dropdown__list > li {
  padding: 0; }

.spinner--medium {
  color: #0f2672; }

.spinner--large {
  font-size: 36px; }

/***** FORMS *****/
.form {
  width: auto;
  margin: 0 auto;
  padding: 0; }
  .form__wrapper {
    border: 0; }
  .form__field-container {
    display: block;
    margin: 0 auto;
    padding: 10px 0; }
  .form__field-container.error .form__field {
    background: #fff2f2; }
  .form__multifields-wrapper {
    position: relative;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .form__multifields-wrapper:before {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      left: -1px;
      width: 100%;
      height: 100%;
      opacity: 0;
      border: 1px solid #b34d4d;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
  .form__multifields-wrapper.error {
    padding: 10px; }
    .form__multifields-wrapper.error:before {
      opacity: 1; }
  .form__field {
    display: block;
    letter-spacing: 1px;
    padding: 10px 15px;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    border: 1px solid #222;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-family: Lato, Verdana, sans-serif;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .form__field:focus {
      border-color: #000; }
  .form__field--textarea {
    height: 100px; }
  .form__field::-webkit-input-placeholder {
    color: #000;
    letter-spacing: 1px;
    font-weight: 400;
    opacity: 1; }
  .form__field:-moz-placeholder {
    color: #000;
    letter-spacing: 1px;
    font-weight: 400;
    opacity: 1; }
  .form__field::-moz-placeholder {
    color: #000;
    letter-spacing: 1px;
    font-weight: 400;
    opacity: 1; }
  .form__field:-ms-input-placeholder {
    color: #000;
    letter-spacing: 1px;
    font-weight: 400;
    opacity: 1; }
  .form .dropdown__title {
    font-weight: 400; }
  .form .dropdown {
    max-width: 100%; }
  .form .button-container {
    padding: 30px 0 0 0;
    text-align: center; }
  .form__info-wrapper {
    display: none;
    padding: 20px 0 0 0; }
  .form__info {
    text-align: center; }

.choice-field {
  cursor: pointer;
  display: block; }
  .choice-field input {
    width: 0;
    height: 0;
    display: none; }
  .choice-field .choice-field__wrapper {
    padding: 5px 10px; }
  .choice-field .choice-field__inner {
    position: relative;
    padding: 0 0 0 30px; }
  .choice-field .choice-field__field-container {
    position: absolute;
    top: 0;
    left: 0; }
  .choice-field .choice-field__field {
    padding: 3px;
    border: 1px solid #000; }
  .choice-field .choice-field__field-inner {
    width: 8px;
    height: 8px;
    background: #213988;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .choice-field input[type="checkbox"]:checked + .choice-field__wrapper .choice-field__field-inner,
  .choice-field input[type="radio"]:checked + .choice-field__wrapper .choice-field__field-inner {
    opacity: 1; }

.choice-field--radio .choice-field__field {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.choice-field--radio .choice-field__field-inner {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.list-choice-field {
  cursor: pointer;
  display: block; }
  .list-choice-field input {
    width: 0;
    height: 0;
    display: none; }
  .list-choice-field .list-choice-field__wrapper {
    padding: 5px 10px; }
  .list-choice-field .list-choice-field__inner {
    position: relative; }
  .list-choice-field input[type="checkbox"]:checked + .list-choice-field__wrapper,
  .list-choice-field input[type="radio"]:checked + .list-choice-field__wrapper {
    background: #1959c4;
    color: #fff; }

/***** FOOTER *****/
.site-footer {
  border-top: 3px solid #0f2672;
  background: #f6f6f6;
  text-align: center;
  padding: 40px 0; }
  .site-footer__inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px; }
    @media (min-width: 650px) {
      .site-footer__inner {
        padding-left: 40px;
        padding-right: 40px; } }
    @media (min-width: 992px) {
      .site-footer__inner {
        padding-left: 50px;
        padding-right: 50px; } }
    @media (min-width: 1300px) {
      .site-footer__inner {
        padding-left: 0;
        padding-right: 0; } }

/***** BUTTONS ******/
.button-container {
  text-align: center;
  clear: both;
  padding: 20px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.more-content-button {
  display: none; }
  .more-content-button .simple-button__icon-top {
    opacity: 0; }

.button {
  clear: both;
  display: inline-block;
  margin: 0 0 0 -5px;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  font-family: Lato, Verdana, sans-serif;
  letter-spacing: 1px;
  border: 2px solid #0f2672;
  color: #0f2672;
  font-weight: 700;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .button__wrapper {
    padding: 13px 50px;
    position: relative;
    overflow: hidden; }
    .button__wrapper:after {
      content: '';
      display: block;
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      background: #0f2672; }
  .button__inner {
    position: relative;
    z-index: 5; }
  .button:hover {
    color: #fff;
    -webkit-transition: all 0.2s linear 0.2s;
    -moz-transition: all 0.2s linear 0.2s;
    -o-transition: all 0.2s linear 0.2s;
    transition: all 0.2s linear 0.2s; }
    .button:hover .button__wrapper:after {
      top: 0; }

.button--filled {
  border: 0;
  color: #fff; }
  .button--filled .button__wrapper {
    background: #0f2672; }
    .button--filled .button__wrapper:after {
      background: #000; }

.simple-button {
  display: inline-block;
  font-size: 16px;
  background: none;
  border: 0;
  cursor: pointer; }
  .simple-button .simple-button__inner {
    display: block; }
  .simple-button .simple-button__icon-bottom {
    display: block;
    margin: 5px auto 0 auto; }
  .simple-button .simple-button__icon-top {
    display: block;
    margin: 0 auto 5px auto; }

/***** TABLES *****/
.table {
  font-size: 16px;
  line-height: 24px;
  color: #222; }
  .table__row {
    border-bottom: 1px solid #dddddd;
    padding: 7px 0; }
    .table__row:after {
      content: '';
      display: block;
      clear: both; }
  .table__row--header {
    border-color: #777;
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    color: #000; }
  .table__cell {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px; }

.properties-table {
  max-width: 900px; }
  .properties-table__name-cell {
    width: 25%; }
  .properties-table__default-value-cell {
    width: 25%; }
  .properties-table__description-cell {
    width: 50%; }

.functions-table {
  max-width: 900px; }
  .functions-table__name-cell {
    width: 25%; }
  .functions-table__parameter-cell {
    width: 25%; }
  .functions-table__description-cell {
    width: 50%; }

/***** SECTIONS *****/
.site-section__layer {
  padding: 50px 0; }
  @media (min-width: 650px) {
    .site-section__layer {
      padding: 70px 0; } }
.site-section__inner {
  padding: 0 20px; }
  @media (min-width: 650px) {
    .site-section__inner {
      padding: 0 40px; } }
  @media (min-width: 992px) {
    .site-section__inner {
      padding: 0 50px; } }
  @media (min-width: 1300px) {
    .site-section__inner {
      max-width: 1300px;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0; } }
.site-section__content {
  padding: 20px 0; }
  .site-section__content:first-child {
    padding-top: 0; }
  .site-section__content:last-child {
    padding-bottom: 0; }

.section--full-width {
  padding-left: 0;
  padding-right: 0; }
  .section--full-width .section__inner {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%; }
    .section--full-width .section__inner .section-header {
      padding-left: 20px;
      padding-right: 20px; }
      @media (min-width: 650px) {
        .section--full-width .section__inner .section-header {
          padding-left: 40px;
          padding-right: 40px; } }
      @media (min-width: 992px) {
        .section--full-width .section__inner .section-header {
          padding-left: 50px;
          padding-right: 50px; } }
      @media (min-width: 1300px) {
        .section--full-width .section__inner .section-header {
          padding-left: 0;
          padding-right: 0; } }

.subsection {
  padding: 40px 0; }
  .subsection__row {
    padding: 30px 0; }
    .subsection__row:first-child {
      padding-top: 0; }
    .subsection__row:last-child {
      padding-bottom: 0; }

.section-01 {
  padding-top: 50px; }
  .section-01 .column {
    padding: 20px; }
    @media (min-width: 650px) {
      .section-01 .column {
        padding: 30px 40px; } }
    @media (min-width: 992px) {
      .section-01 .column {
        padding: 30px 50px; } }
  .section-01 .container:nth-child(2n + 1) .column:nth-child(2n + 1) {
    background: #bed7ba; }
  .section-01 .container:nth-child(2n + 1) .column:nth-child(2n + 2) {
    background: #f6f6f6; }
  .section-01 .container:nth-child(2n + 2) .column:nth-child(2n + 1) {
    background: #f6f6f6; }
  .section-01 .container:nth-child(2n + 2) .column:nth-child(2n + 2) {
    background: #bed7ba; }

.section-03 .listing__wrapper {
  padding-bottom: 40px; }

.section-04 .form {
  max-width: 500px;
  margin: 0; }

.section-06 .button-container {
  padding: 20px 0 0 0; }
