$dark-color: #000;
$dark-color-01: #222;

$medium-color: #a90800;
$medium-color-01: #8f0700;

$light-color: #fff;
$light-color-01: #bed7ba;
$light-color-02: #f6f6f6;
$light-color-03: #c4c4c4;
$light-color-04: #fafafa;

$grey: #444;
$error-color: #b34d4d;
$error-color-01: #fff2f2;

$sans-serif-font-family: Lato, Verdana, sans-serif;
$serif-font-family: Heuristica, 'Times New Roman', serif;

$main-font-size: 14px;
$main-font-size-00: 15px;
$main-font-size-01: 16px;
$main-font-size-02: 18px;
$main-font-size-03: 20px;
$main-font-size-04: 22px;
$main-font-size-05: 24px;
$main-font-size-06: 26px;
$main-font-size-07: 28px;
$main-font-size-08: 30px;
$main-font-size-09: 32px;
$main-font-size-10: 34px;

$small-font-size: 12px;
$small-font-size-00: 13px;
$small-font-size-01: 14px;
$small-font-size-02: 16px;
$small-font-size-03: 18px;
$small-font-size-04: 20px;
$small-font-size-05: 22px;

$larger-font-size: 16px;
$larger-font-size-00: 18px;
$larger-font-size-01: 20px;
$larger-font-size-02: 22px;
$larger-font-size-03: 24px;
$larger-font-size-04: 26px;
$larger-font-size-05: 28px;
$larger-font-size-06: 30px;
$larger-font-size-07: 32px;
$larger-font-size-08: 34px;
$larger-font-size-09: 36px;
$larger-font-size-10: 38px;

$large-font-size: 18px;
$large-font-size-00: 20px;
$large-font-size-01: 22px;
$large-font-size-02: 24px;
$large-font-size-03: 26px;
$large-font-size-04: 28px;
$large-font-size-05: 30px;
$large-font-size-06: 32px;
$large-font-size-07: 34px;
$large-font-size-08: 36px;
$large-font-size-09: 38px;
$large-font-size-10: 40px;

$very-large-font-size: 24px;
$very-large-font-size-00: 26px;
$very-large-font-size-01: 28px;
$very-large-font-size-02: 30px;
$very-large-font-size-03: 32px;
$very-large-font-size-04: 34px;
$very-large-font-size-05: 36px;
$very-large-font-size-06: 38px;
$very-large-font-size-07: 40px;
$very-large-font-size-08: 42px;
$very-large-font-size-09: 44px;
$very-large-font-size-10: 46px;

$extra-large-font-size: 28px;
$extra-large-font-size-00: 30px;
$extra-large-font-size-01: 32px;
$extra-large-font-size-02: 34px;
$extra-large-font-size-03: 36px;
$extra-large-font-size-04: 38px;
$extra-large-font-size-05: 40px;
$extra-large-font-size-06: 42px;
$extra-large-font-size-07: 44px;
$extra-large-font-size-08: 46px;
$extra-large-font-size-09: 48px;
$extra-large-font-size-10: 50px;

$huge-font-size: 36px;
$huge-font-size-00: 38px;
$huge-font-size-01: 40px;
$huge-font-size-02: 42px;
$huge-font-size-03: 44px;
$huge-font-size-04: 46px;
$huge-font-size-05: 48px;
$huge-font-size-06: 50px;
$huge-font-size-07: 52px;
$huge-font-size-08: 54px;
$huge-font-size-09: 56px;
$huge-font-size-10: 58px;

$rwd-380: 380px;
$rwd-420: 420px;
$rwd-480: 480px;
$rwd-500: 500px;
$rwd-550: 550px;
$rwd-650: 650px;
$rwd-768: 768px;
$rwd-860: 860px;
$rwd-900: 900px;
$rwd-992: 992px;
$rwd-1100: 1100px;
$rwd-1300: 1300px;
$rwd-1500: 1500px;
$rwd-1700: 1700px;














$header-01-font-size: 24px;
$header-01-font-size-00: 28px;
$header-01-font-size-01: 32px;

$header-02-font-size: 24px;

$subsection-header-01-font-size: 18px;
$subsection-header-01-font-size-00: 20px;

$icons-header-font-size: 20px;





$very-huge-font-size: 72px;

$button-font-size: 16px;

