@import 'variables';

@import 'mixins';

@import 'hawk-animates';

* {
margin: 0;
padding: 0;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}
*:focus {
outline: none;
}

.hidden {
opacity: 0;
}
.visible {
opacity: 1;
}

html {
font-family: $sans-serif-font-family;
font-weight: 400;
font-size: $main-font-size;
color: $dark-color;
}

a {
color: $dark-color;
text-decoration: none;
@include transition(all .2s linear);

	img {
	border: 0;
	}
}

img {
display: inline-block;
max-width: 100%;
}

/***** HEADERS *****/

.section-header {
text-align: left;
padding: 0 0 50px 0;

	.section-header__title {
	font-family: $serif-font-family;
	font-size: $header-01-font-size;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 400;
	}

	.section-header__subtitle {
	font-size: $header-02-font-size;
	line-height: $header-02-font-size + 8px;
	font-weight: 400;
	letter-spacing: 1px;
	}
}

.subsection-header {
	.subsection-header__title {
	color: $dark-color-01;
	font-size: $subsection-header-01-font-size;
	font-weight: 500;
	}
}

/***** TEXT *****/

.line {
display: block;
}

/***** LISTS *****/

ul {
list-style-type: none;
}

.icons {
text-align: center;
padding: 0;
margin: 0 auto;
list-style-type: none;
width: 900px;
	
	> li {
	display: inline-block;
	width: 33.33%;
	padding: 20px 30px;
	margin: 0 0 0 -5px;
	vertical-align: top;
	@include box-sizing(border-box);
	}

	.icons__icon-container {
	margin: 0 auto 20px auto;
	width: 100px;
	height: 100px;
	background: $light-color-02;
	@include border-radius(50%);
	}

	.icons__icon {
	margin: 0 auto;
	}

	.icons__header {
	font-size: $icons-header-font-size;
	font-weight: 400;
	}
}

.dropdown {
position: relative;
display: block;
max-width: 300px;

	.dropdown__header {
	padding: 10px 50px 10px 15px;
	border: 1px solid $grey;
	position: relative;
	cursor: pointer;

		.icon {
		position: absolute;
		top: 50%;
		right: 16px;
		margin: -4px 0 0 0;
		@include animation-name(arrowTurnDown);
		@include animation-duration(.2s);
		}
	}

	.dropdown__title {
	font-weight: 400;
	letter-spacing: 1px;
	font-size: $small-font-size;
	}

	.dropdown__list {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100%;
	font-size: $small-font-size;
	padding: 15px 10px;
	background: $light-color-04;
	border: 1px solid $light-color-03;
	@include box-sizing(border-box);
	z-index: 10;

		> li {
		display: block;
		padding: 5px 0;
		}
		a {
		display: block;
		}
	}
}
.dropdown.dropdown--open {
	.dropdown__header {
		.icon {
		@include animation-name(arrowTurnUp);
		@include transform(rotate(180deg));
		}
	}
}

.horizontal-list {
	> li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 -5px;
	padding: 0 35px;
	}
	> li:first-child {
	padding-left: 0;
	}
	> li:last-child {
	padding-right: 0;
	}
}

/***** CONTAINERS *****/

.site-content {
overflow: hidden;
max-width: 1300px;
margin: 0 auto;
}

.wrapper {
display: table;
width: 100%;
height: 100%;

	> div {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	}
}

.container {
overflow: hidden;
padding: 0;
position: relative;

	.column {
	float: left;
	@include box-sizing(border-box);
	}
	.col-9 {
	width: 3/4 * 100%;
	}
	.col-8 {
	width: 2/3 * 100%;
	}
	.col-6 {
	width: 1/2 * 100%;
	}
	.col-4 {
	width: 1/3 * 100%;
	}
	.col-3 {
	width: 1/4 * 100%;
	}
	.col-2 {
	width: 1/6 * 100%;
	}

	.middle {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	margin: 0 0 0 -25%;
	}
}
.container--reverse {
	.column {
	float: right;
	}
}
.container--same-height-columns {
position: relative;

	.column {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	}
	.column--highest {
	position: static;
	}
}

.video {
display: block;
position: relative;
padding-bottom: 56.75%;
height: 0;
margin: 0 auto;

	iframe,
	video {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	}
}

/***** MODULES *****/

.article {
	.article__header {
	padding: 0 0 10px 0;
	text-align: center;
	}

	.article__title {
	font-size: $extra-large-font-size;
	font-weight: 400;
	}

	.article__text {
	font-size: $main-font-size;
	line-height: $main-font-size + 6px;

		p {
		padding: 10px 0;
		}
	}
}

/***** FORMS *****/

.form {
width: auto;
margin: 0 auto;
padding: 0;

	fieldset {
	border: 0;
	}
	.form__field-container {
	display: block;
	margin: 0 auto;
	padding: 10px 0;
	}

	.form__field {
	display: block;
	letter-spacing: 1px;
	padding: 10px 15px;
	width: 100%;
	margin: 0;
	-webkit-appearance: none;
	border: 1px solid $dark-color-01;
	background: $light-color;
	color: $dark-color;
	font-size: $small-font-size;
	font-family: $sans-serif-font-family;
	@include transition(all .2s linear);
	@include box-sizing(border-box);
	@include border-radius(0);
	}
	.form__field:focus {
	border-color: $dark-color;
	}

	.form__field::-webkit-input-placeholder {
	color: $dark-color;
	letter-spacing: 1px;
	font-weight: 400;
	opacity: 1;	
	}
	.form__field:-moz-placeholder {
	color: $dark-color;
	letter-spacing: 1px;
	font-weight: 400;
	opacity: 1;	
	}
	.form__field::-moz-placeholder {
	color: $dark-color;
	letter-spacing: 1px;
	font-weight: 400;
	opacity: 1;	
	}
	.form__field:-ms-input-placeholder {
	color: $dark-color;
	letter-spacing: 1px;
	font-weight: 400;
	opacity: 1;	
	}

	.dropdown__title {
	font-weight: 400;
	}

	.dropdown {
	max-width: 100%;
	}

	.button-container {
	padding: 30px 0 0 0;
	text-align: center;
	}
}

.choice-field {
cursor: pointer;

	input {
	display: none;
	}

	.choice-field__inner {
	margin: 10px 15px;
	position: relative;
	padding: 0 0 0 30px;

		.choice-field__field-container {
		border: 1px solid $dark-color;
		position: absolute;
		top: 0;
		left: 0;
		}

		.choice-field__field {
		width: 15px;
		height: 15px;
		}
	}

	input[type="checkbox"] + .choice-field__inner,
	input[type="radio"] + .choice-field__inner  {

	}

	input[type="checkbox"]:checked + .choice-field__inner,
	input[type="radio"]:checked + .choice-field__inner {
		.choice-field__field {
		background: $dark-color-01;
		}
	}
}
.choice-field--radio {
	.choice-field__field-container {
	@include border-radius(50%);
	}

	.choice-field__field {
	@include border-radius(50%);
	}
}


/***** HEADER *****/

.site-header {
overflow: hidden;
position: relative;
padding: 100px 0;

	.site-header__title {
	font-size: $huge-font-size;
	font-family: $serif-font-family;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	}
}

/***** MENU *****/

.slide-menu {
position: fixed;
z-index: 4000;
height: 100%;
display: block;
text-align: center;
width: 20%;
background: $light-color-02;
border-left: 2px solid $medium-color;
margin: 0 -2px 0 0;

	.slide-menu__inner {
	padding: 80px 60px;
	}
}

/** fade **/
.slide-menu--fade {
display: none;
}
.slide-menu--fade.slide-menu--open {

}
.slide-menu--fade.slide-menu--top {
top: 0;
left: 0;
right: auto;
bottom: auto;
}
.slide-menu--fade.slide-menu--right {
top: 0;
left: auto;
right: 0;
bottom: auto;
}
.slide-menu--fade.slide-menu--bottom {
top: auto;
left: 0;
right: auto;
bottom: 0;
}
.slide-menu--fade.slide-menu--left {
top: 0;
left: 0;
right: auto;
bottom: auto;
}

/** slide **/
.slide-menu--slide {
display: block;
opacity: 1;
@include transition(all .3s linear);
}

.slide-menu--slide.slide-menu--top {
top: -100%;
left: 0;
right: auto;
bottom: auto;
}
.slide-menu--slide.slide-menu--top.slide-menu--open {
top: 0;
}

.slide-menu--slide.slide-menu--right {
top: 0;
left: auto;
right: -20%;
bottom: auto;
}
.slide-menu--slide.slide-menu--right.slide-menu--open {
right: 0;
}

.slide-menu--slide.slide-menu--bottom {
top: auto;
left: 0;
right: auto;
bottom: -100%;
}
.slide-menu--slide.slide-menu--bottom.slide-menu--open {
bottom: 0;
}

.slide-menu--slide.slide-menu--left {
top: 0;
left: -100%;
right: auto;
bottom: auto;
}
.slide-menu--slide.slide-menu--left.slide-menu--open {
left: 0;
}

/** slide-fade **/
.slide-menu--slide-fade {
display: block;
opacity: 1;

@include transition(all .3s linear .4s);

	.slide-menu__inner {
	opacity: 0;
	@include transition(opacity .3s linear 0);
	}
}

.slide-menu--slide-fade.slide-menu--open {
@include transition(all .3s linear);

	.slide-menu__inner {
	opacity: 1;
	@include transition(opacity .3s linear .4s);
	}
}

.slide-menu--slide-fade.slide-menu--top {
top: -100%;
left: 0;
right: auto;
bottom: auto;
}
.slide-menu--slide-fade.slide-menu--top.slide-menu--open {
top: 0;
}

.slide-menu--slide-fade.slide-menu--right {
top: 0;
left: auto;
right: -20%;
bottom: auto;
}
.slide-menu--slide-fade.slide-menu--right.slide-menu--open {
right: 0;
}

.slide-menu--slide-fade.slide-menu--bottom {
top: auto;
left: 0;
right: auto;
bottom: -100%;
}
.slide-menu--slide-fade.slide-menu--bottom.slide-menu--open {
bottom: 0;
}

.slide-menu--slide-fade.slide-menu--left {
top: 0;
left: -100%;
right: auto;
bottom: auto;
}
.slide-menu--slide-fade.slide-menu--left.slide-menu--open {
left: 0;
}

/** menu toggler **/

#main-menu-toggler {
position: fixed;
z-index: 9500;
top: 30px;
right: 30px;
cursor: pointer;
}

.menu {
	li {
	display: block;
	padding: 5px 0;
	}
}

/***** FOOTER *****/

/***** SECTIONS *****/

.section {
padding: 100px 50px;
}
.section--full-width {
padding-left: 0;
padding-right: 0;
}

.subsection {
padding: 20px 0;
}


.overlayer-content {
display: none !important;
}

.overlayer {
position: fixed;
display: none;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 7000;
background: rgba(0, 0, 0, .8);
color: #000;
overflow-y: auto;
padding: 0;

	.overlayer__inner {
	margin: 40px auto;
	max-width: 1360px;
	position: relative;
	padding: 80px 60px;
	background: $light-color-02;
	}

	.overlayer__close {
	position: absolute;
	top: 30px;
	right: 30px;
	@include transition(all .2s linear);
	z-index: 7000;
	display: block;
	cursor: pointer;
	}
}


.section-01 {
padding-top: 50px;

	.column {
	padding: 30px;
	}
	
	.container:nth-child(2n + 1) {
		.column:nth-child(2n + 1) {
		background: $light-color-01;
		}
		.column:nth-child(2n + 2) {
		background: $light-color-02;
		}
	}

	.container:nth-child(2n + 2) {
		.column:nth-child(2n + 1) {
		background: $light-color-02;
		}
		.column:nth-child(2n + 2) {
		background: $light-color-01;
		}
	}
}

.section-04 {
max-width: 500px;
}

/***** ICONS *****/

/* icon hamburger */

.icon-hamburger {
display: block;
width: 27px;
height: 17px;
position: relative;
	
	> div {
	position: absolute;
	left: 0;
	height: 3px;
	background: $dark-color;
	width: 100%;
	@include border-radius(1.5px);
	@include transition(all .2s ease-in-out);
	}
	> div:nth-child(1) {
	top: 0;
	}
	> div:nth-child(2) {
	top: 7px;
	}
	> div:nth-child(3) {
	top: 14px;
	}
}

.icon-hamburger.open {
	> div:nth-child(1) {
	top: 7px;
	@include transform(rotate(135deg));
	}

	> div:nth-child(2) {
	opacity: 0;
	left: -100%;
	}

	> div:nth-child(3) {
	top: 7px;
	@include transform(rotate(-135deg));
	}
}

.icon-hamburger--medium {
	> div {
	background: $medium-color;
	}
}
.icon-hamburger--light {
	> div {
	background: $light-color;
	}
}
.icon-hamburger--large {
width: 32px;
height: 20px;

	> div {
	height: 4px;
	@include border-radius(2px);
	}
	> div:nth-child(1) {
	top: 0;
	}
	> div:nth-child(2) {
	top: 8px;
	}
	> div:nth-child(3) {
	top: 16px;
	}
}
.icon-hamburger--small {
width: 20px;
height: 12px;

	> div {
	height: 2px;
	@include border-radius(1px);
	}
	> div:nth-child(1) {
	top: 0;
	}
	> div:nth-child(2) {
	top: 5px;
	}
	> div:nth-child(3) {
	top: 10px;
	}
}

/* icon cross */

.icon-cross {
width: 21px;
height: 21px;
position: relative;
overflow: hidden;

	> div {
	position: absolute;
	background: $dark-color;
	display: block;
	}

	> div:nth-child(1) {
	width: 100%;
	left: 0;
	top: 50%;
	height: 3px;
	margin: -1.5px 0 0 0;
	}
	> div:nth-child(2) {
	width: 3px;
	top: 0;
	left: 50%;
	margin: 0 0 0 -1.5px;
	height: 100%;
	}
}
.icon-cross--large {
width: 26px;
height: 26px;

	> div:nth-child(1) {
	height: 4px;
	margin: -2px 0 0 0;
	}
	> div:nth-child(2) {
	width: 4px;
	margin: 0 0 0 -2px;
	}
}
.icon-cross--small {
width: 16px;
height: 16px;

	> div:nth-child(1) {
	height: 2px;
	margin: -1px 0 0 0;
	}
	> div:nth-child(2) {
	width: 2px;
	margin: 0 0 0 -1px;
	}
}

.icon-cross--rotated {
@include transform(rotate(45deg));
}

/* icon arrow */

.icon-arrow {
position: relative;
width: 14px;
height: 14px;
border-top: 2px solid $dark-color;
border-right: 2px solid $dark-color;
}
.icon-arrow--left {
@include transform(rotate(-135deg));
left: 3px;
}
.icon-arrow--up {
@include transform(rotate(-45deg));
top: 3px;
}
.icon-arrow--right {
@include transform(rotate(45deg));
left: -3px;
}
.icon-arrow--down {
@include transform(rotate(135deg));
top: -3px;
}
.icon-arrow--small {
width: 10px;
height: 10px;
border-width: 2px;
}
.icon-arrow--left.icon-arrow--small {
left: 2px;
}
.icon-arrow--up.icon-arrow--small {
top: 2px;
}
.icon-arrow--right.icon-arrow--small {
left: -2px;
}
.icon-arrow--down.icon-arrow--small {
top: -2px;
}
.icon-arrow--large {
width: 18px;
height: 18px;
border-width: 3px;
}

/* icon triangular icon */

.icon-triangular-arrow-left {
border-right: 12px solid $dark-color;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-left--small {
border-right-width: 10px;
border-top-width: 6px;
border-bottom-width: 6px;
}
.icon-triangular-arrow-left--large {
border-right-width: 14px;
border-top-width: 8px;
border-bottom-width: 8px;
}

.icon-triangular-arrow-up {
border-bottom: 12px solid $dark-color;
border-right: 7px solid transparent;
border-left: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-up--small {
border-bottom-width: 10px;
border-right-width: 6px;
border-left-width: 6px;
}
.icon-triangular-arrow-up--large {
border-bottom-width: 14px;
border-right-width: 8px;
border-left-width: 8px;
}

.icon-triangular-arrow-right {
border-left: 12px solid $dark-color;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-right--small {
border-left-width: 10px;
border-top-width: 6px;
border-bottom-width: 6px;
}
.icon-triangular-arrow-right--large {
border-left-width: 14px;
border-top-width: 8px;
border-bottom-width: 8px;
}

.icon-triangular-arrow-down {
border-top: 12px solid $dark-color;
border-right: 7px solid transparent;
border-left: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-down--small {
border-top-width: 10px;
border-right-width: 6px;
border-left-width: 6px;
}
.icon-triangular-arrow-down--large {
border-top-width: 14px;
border-right-width: 8px;
border-left-width: 8px;
}

/***** BUTTONS ******/

.button-container {
text-align: center;
clear: both;
padding: 0 5px;
@include box-sizing(border-box);
}
.more-buttons {
padding-top: 20px;
}

.button {
clear: both;
display: inline-block;
margin: 0 0 0 -5px;
border: 0;
cursor: pointer;
font-weight: 400;
padding: 13px 50px;
font-size: $button-font-size;
font-family: $sans-serif-font-family;
letter-spacing: 1px;
border: 1px solid $light-color-03;
@include box-sizing(border-box);
@include transition(all .2s linear);
@include background-gradient-down($light-color 10%, $light-color-02 50%, $light-color-02 100%);
}
.button:hover {
border-color: $grey;
}

.simple-button {
display: inline-block;
font-size: $button-font-size;
	
	.simple-button__inner {
	display: block;
	}
}
.simple-button--bottom-icon {
	.simple-button__icon {
	display: block;
	margin: 5px auto 0 auto;
	}
}
.simple-button--top-icon {
	.simple-button__icon {
	display: block;
	margin: 0 auto 5px auto;
	}
}

/** rwd1800 **/
@media (max-width: 1800px) {

}

/** rwd1600 **/
@media (max-width: 1600px) {

}

/** rwd1400 **/
@media (max-width: 1400px) {

}

/** rwd1200 **/
@media (max-width: 1200px) {

}

/** rwd992 */
@media (max-width: 992px) {

}

/** rwd850 **/
@media (max-width: 850px) {

}

/** rwd768px **/
@media (max-width: 768px) {

}

/** rwd650 **/
@media (max-width: 650px) {

}

/** rwd600 **/
@media (max-width: 600px) {

}

/** rwd500 **/
@media (max-width: 500px) {

}

/** rwd420 **/
@media (max-width: 420px) {

}

/** rwd380 **/
@media (max-width: 380px) {

}