@import 'hawk-variables';

@import 'hawk-mixins';

@import 'hawk-animates';


/***** CONTAINERS *****/

.wrapper {
display: table;
width: 100%;
height: 100%;

	> div {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	}
}

.container {
position: relative;

	&:after {
	content: '';
	display: block;
	clear: both;
	}

	.column {
	float: left;
	@include box-sizing(border-box);
	}
	.col-9 {
	width: 3/4 * 100%;
	}
	.col-8 {
	width: 2/3 * 100%;
	}
	.col-6 {
	width: 1/2 * 100%;
	}
	.col-4 {
	width: 1/3 * 100%;
	}
	.col-3 {
	width: 1/4 * 100%;
	}
	.col-2 {
	width: 1/6 * 100%;
	}

	.middle {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	margin: 0 0 0 -25%;
	}
}
.container--reverse {
	.column {
	float: right;
	}
}
.container--same-height-columns {
position: relative;

	.column {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	}
	.column--highest {
	position: static;
	}
}

/***** MODULES *****/

.dropdown {
position: relative;
display: block;

    .dropdown__header {
    position: relative;
    cursor: pointer;
    @include transition(all .2s linear);
    @include user-select(none);
    }

    .dropdown__title {

    }

    .dropdown__list-container {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 10;
    @include box-sizing(border-box);
	}

	.dropdown__list {
        > li {
        display: block;
        }

        a {
        display: block;
        }
    }

    &:hover,
    &:focus {
        .dropdown__header {

        }
    }
}

.dropdown--expanding {
	.dropdown__list-container {
	position: relative;
	top: 0;
	}
}

.dropdown.dropdown--open {
    .dropdown__header {
    }
}

.bookmarks-manager {
max-width: 900px;
margin: 0 auto;

	.bookmarks-manager__bookmarks {
	text-align: center;

		@media (min-width: $rwd-768) {
		padding: 0 0 20px 0;
		}
	}

	.bookmarks-manager__bookmark-container {
	display: block;

		@media (min-width: $rwd-768) {
		display: inline-block;
		}
	}

	.bookmarks-manager__bookmark {
	cursor: pointer;
	padding: 20px;

		@media (min-width: $rwd-1300) {
		padding-left: 40px;
		padding-right: 40px;
		}
	}

	.bookmarks-manager__bookmark-container {
		.bookmarks-manager__bookmark-content {
		display: none;
		}
	}
	

	.bookmarks-manager__content-container {
	display: none;
	@include transition(all .2s linear);

		@media (min-width: $rwd-768) {
		display: block;
		}
	}

	.bookmarks-manager__content-wrapper {
	@include transition(all .2s linear);
	}
}

.simple-bookmark {
font-weight: 700;

	.simple-bookmark__number {
	font-size: $large-font-size;
	font-weight: 700;
	padding: 0 0 5px 0;
	}
}

.simple-bookmark.active {
color: $medium-color-01;
}

.details-list {
list-style-type: none;
max-width: 700px;
margin: 0 auto;

	.details-list__item {
	display: block;
	}

	.details-list__title {
	position: relative;
	padding: 10px 0;
	cursor: pointer;
	font-weight: 700;
	border-bottom: 1px solid $medium-color;
	
		.details-list__arrow {
		position: absolute;
		top: 13px;
		right: 5px;
		}
	}

	.details-list__content {
	padding: 10px 20px;
	}
}

.categorized-items {
	&__categories {
	text-align: center;
	list-style-type: none;
	padding: 0 0 40px 0;

		> li {
		display: block;
		padding: 10px 0;
		cursor: pointer;

			@media (min-width: $rwd-480) {
			display: inline-block;
			padding: 0 20px;
			}

			&.active {
			color: $medium-color;
			font-weight: 700;
			}
		}
	}

	&__item {
	display: block;
	}

	&__no-items {
	float: none;
	display: block;
	padding: 20px;
	text-align: center;
	}

	&__content-container {
	@include transition(all .2s linear);
	}
}

/***** MENU *****/

.slide-menu {
position: fixed;
z-index: 4000;
height: 100%;
display: block;
text-align: center;
width: 100%;
background: $light-color-02;
overflow-x: hidden;
overflow-y: auto;

	.slide-menu__inner {
	padding: 80px 60px;
	}
}

/** fade **/
.slide-menu--fade {
display: none;
}
.slide-menu--fade.slide-menu--open {

}
.slide-menu--fade.slide-menu--top {
top: 0;
left: 0;
right: auto;
bottom: auto;
}
.slide-menu--fade.slide-menu--right {
top: 0;
left: auto;
right: 0;
bottom: auto;
}
.slide-menu--fade.slide-menu--bottom {
top: auto;
left: 0;
right: auto;
bottom: 0;
}
.slide-menu--fade.slide-menu--left {
top: 0;
left: 0;
right: auto;
bottom: auto;
}

/** slide **/
.slide-menu--slide {
display: block;
opacity: 1;
@include transition(all .3s linear);
}

.slide-menu--slide.slide-menu--top {
top: -100%;
left: 0;
right: auto;
bottom: auto;
}
.slide-menu--slide.slide-menu--top.slide-menu--open {
top: 0;
}

.slide-menu--slide.slide-menu--right {
top: 0;
left: auto;
right: -100%;
bottom: auto;
}
.slide-menu--slide.slide-menu--right.slide-menu--open {
right: 0;
}

.slide-menu--slide.slide-menu--bottom {
top: auto;
left: 0;
right: auto;
bottom: -100%;
}
.slide-menu--slide.slide-menu--bottom.slide-menu--open {
bottom: 0;
}

.slide-menu--slide.slide-menu--left {
top: 0;
left: -100%;
right: auto;
bottom: auto;
}
.slide-menu--slide.slide-menu--left.slide-menu--open {
left: 0;
}

/** slide-fade **/
.slide-menu--slide-fade {
display: block;
opacity: 1;

@include transition(all .3s linear .4s);

	.slide-menu__inner {
	opacity: 0;
	@include transition(opacity .3s linear 0);
	}
}

.slide-menu--slide-fade.slide-menu--open {
@include transition(all .3s linear);

	.slide-menu__inner {
	opacity: 1;
	@include transition(opacity .3s linear .4s);
	}
}

.slide-menu--slide-fade.slide-menu--top {
top: -100%;
left: 0;
right: auto;
bottom: auto;
}
.slide-menu--slide-fade.slide-menu--top.slide-menu--open {
top: 0;
}

.slide-menu--slide-fade.slide-menu--right {
top: 0;
left: auto;
right: -100%;
bottom: auto;
}
.slide-menu--slide-fade.slide-menu--right.slide-menu--open {
right: 0;
}

.slide-menu--slide-fade.slide-menu--bottom {
top: auto;
left: 0;
right: auto;
bottom: -100%;
}
.slide-menu--slide-fade.slide-menu--bottom.slide-menu--open {
bottom: 0;
}

.slide-menu--slide-fade.slide-menu--left {
top: 0;
left: -100%;
right: auto;
bottom: auto;
}
.slide-menu--slide-fade.slide-menu--left.slide-menu--open {
left: 0;
}


/***** OVERLAYERS *****/

.overlayer-content {
display: none !important;
}

.overlayer {
position: fixed;
display: none;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 7000;
background: rgba(0, 0, 0, .8);
color: #000;
overflow-y: auto;
padding: 0;

	.overlayer__spinner-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6900;
	display: none;
	font-size: $huge-font-size;
	}

	.overlayer__inner {
	margin: 40px auto;
	max-width: 1360px;
	position: relative;
	padding: 80px 60px;
	background: $light-color-02;
	}

	.overlayer__close {
	position: absolute;
	top: 30px;
	right: 30px;
	@include transition(all .2s linear);
	z-index: 7000;
	display: block;
	cursor: pointer;
	}

	.overlayer__content {
	display: none;
	}
}

.page-loading-layer {
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: $light-color;
z-index: 9999;
}

/***** ICONS *****/

/* icon hamburger */

.icon-hamburger {
display: block;
width: 27px;
position: relative;
	
	&__inner {
	height: 17px;
	position: relative;
	overflow: hidden;

		> div {
		position: absolute;
		left: 0;
		height: 3px;
		background: $dark-color;
		width: 100%;
		@include border-radius(1.5px);
		@include transition(all .2s ease-in-out);
		}
		> div:nth-child(1),
		> div:nth-child(4) {
		top: 0;
		}
		> div:nth-child(2),
		> div:nth-child(5) {
		top: 7px;
		}
		> div:nth-child(3),
		> div:nth-child(6) {
		top: 14px;
		}

		> div:nth-child(4) {
		@include transition(all .2s linear);
		}

		> div:nth-child(5) {
		@include transition(all .4s linear);
		}

		> div:nth-child(6) {
		@include transition(all .6s linear);
		}

		> .icon-hamburger__hover-item {
		background: $medium-color;
		left: -100%;

			&:nth-child(4) {
			@include transition(all .6s linear);
			}

			&:nth-child(5) {
			@include transition(all .4s linear);
			}

			&:nth-child(6) {
			@include transition(all .2s linear);
			}
		}
	}

	&:hover,
	&:focus {
		.icon-hamburger__inner {
			> .icon-hamburger__hover-item {
			left: 0;
			}
		}
	}
}

.icon-hamburger.open {
	.icon-hamburger__inner {
	overflow: visible;

		> div:nth-child(1),
		> div:nth-child(4) {
		top: 7px;
		left: 0;
		@include transform(rotate(135deg));
		}

		> div:nth-child(2),
		> div:nth-child(5) {
		opacity: 0;
		left: -100%;
		}

		> div:nth-child(3),
		> div:nth-child(6) {
		top: 7px;
		left: 0;
		@include transform(rotate(-135deg));
		}
	}
}
.icon-hamburger--medium {
	.icon-hamburger__inner {
		> div {
		background: $medium-color;
		}
	}
}
.icon-hamburger--light {
	.icon-hamburger__inner {
		> div {
		background: $light-color;
		}
	}
}
.icon-hamburger--large {
width: 32px;

	.icon-hamburger__inner {
	height: 20px;

		> div {
		height: 4px;
		@include border-radius(2px);
		}

		> div:nth-child(1),
		> div:nth-child(4) {
		top: 0;
		}

		> div:nth-child(2),
		> div:nth-child(5) {
		top: 8px;
		}

		> div:nth-child(3),
		> div:nth-child(6) {
		top: 16px;
		}
	}
	
}
.icon-hamburger--small {
width: 20px;
height: 12px;

	.icon-hamburger__inner {
		> div {
		height: 2px;
		@include border-radius(1px);
		}
		> div:nth-child(1),
		> div:nth-child(4) {
		top: 0;
		}
		> div:nth-child(2),
		> div:nth-child(5) {
		top: 5px;
		}
		> div:nth-child(3),
		> div:nth-child(6) {
		top: 10px;
		}
	}
	
}

/* icon arrow */

.icon-arrow {
position: relative;
width: 14px;
height: 14px;
border-top: 2px solid $dark-color;
border-right: 2px solid $dark-color;
@include transition(all .2s linear);
}
.icon-arrow--left {
@include transform(rotate(225deg));
left: 3px;
}
.icon-arrow--up {
@include transform(rotate(315deg));
top: 3px;
}
.icon-arrow--right {
@include transform(rotate(45deg));
left: -3px;
}
.icon-arrow--down {
@include transform(rotate(135deg));
top: -3px;
}
.icon-arrow--small {
width: 10px;
height: 10px;
border-width: 2px;
}
.icon-arrow--left.icon-arrow--small {
left: 2px;
}
.icon-arrow--up.icon-arrow--small {
top: 2px;
}
.icon-arrow--right.icon-arrow--small {
left: -2px;
}
.icon-arrow--down.icon-arrow--small {
top: -2px;
}
.icon-arrow--large {
width: 18px;
height: 18px;
border-width: 3px;
}
.icon-arrow--medium {
border-color: $medium-color;
}
.icon-arrow--light {
border-color: $light-color;
}

/* icon triangular icon */

.icon-triangular-arrow-left {
border-right: 12px solid $dark-color;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-left--small {
border-right-width: 10px;
border-top-width: 6px;
border-bottom-width: 6px;
}
.icon-triangular-arrow-left--large {
border-right-width: 14px;
border-top-width: 8px;
border-bottom-width: 8px;
}
.icon-triangular-arrow-left--medium {
border-right-color: $medium-color;
}
.icon-triangular-arrow-left--light {
border-right-color: $light-color;
}

.icon-triangular-arrow-up {
border-bottom: 12px solid $dark-color;
border-right: 7px solid transparent;
border-left: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-up--small {
border-bottom-width: 10px;
border-right-width: 6px;
border-left-width: 6px;
}
.icon-triangular-arrow-up--large {
border-bottom-width: 14px;
border-right-width: 8px;
border-left-width: 8px;
}
.icon-triangular-arrow-up--medium {
border-bottom-color: $medium-color;
}
.icon-triangular-arrow-up--light {
border-bottom-color: $light-color;
}

.icon-triangular-arrow-right {
border-left: 12px solid $dark-color;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-right--small {
border-left-width: 10px;
border-top-width: 6px;
border-bottom-width: 6px;
}
.icon-triangular-arrow-right--large {
border-left-width: 14px;
border-top-width: 8px;
border-bottom-width: 8px;
}
.icon-triangular-arrow-right--medium {
border-left-color: $medium-color;
}
.icon-triangular-arrow-right--light {
border-left-color: $light-color;
}

.icon-triangular-arrow-down {
border-top: 12px solid $dark-color;
border-right: 7px solid transparent;
border-left: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-down--small {
border-top-width: 10px;
border-right-width: 6px;
border-left-width: 6px;
}
.icon-triangular-arrow-down--large {
border-top-width: 14px;
border-right-width: 8px;
border-left-width: 8px;
}
.icon-triangular-arrow-down--medium {
border-top-color: $medium-color;
}
.icon-triangular-arrow-down--light {
border-top-color: $light-color;
}

/* icon cross */

.icon-plus {
width: 21px;
height: 21px;
position: relative;
overflow: hidden;

	&:before,
	&:after {
	content: '';
	position: absolute;
	background: $dark-color;
	display: block;
	}

	&:before {
	width: 100%;
	left: 0;
	top: 50%;
	height: 3px;
	margin: -1.5px 0 0 0;
	}
	&:after {
	width: 3px;
	top: 0;
	left: 50%;
	margin: 0 0 0 -1.5px;
	height: 100%;
	}
}
.icon-plus--large {
width: 26px;
height: 26px;

	&:before {
	height: 4px;
	margin: -2px 0 0 0;
	}
	&:after {
	width: 4px;
	margin: 0 0 0 -2px;
	}
}
.icon-plus--small {
width: 16px;
height: 16px;

	&:before {
	height: 2px;
	margin: -1px 0 0 0;
	}
	&:after {
	width: 2px;
	margin: 0 0 0 -1px;
	}
}

.icon-plus--rotated {
@include transform(rotate(45deg));
}

/* extended icon */

.extended-icon {
position: relative;
display: inline-block;

	&__base {

	}

	&__layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	@include transition(all .2s linear);
	}

	&:hover,
	&:focus {
		.extended-icon__layer {
		opacity: 1;
		}
	}
}