$dark-color: #000;
$dark-color-01: #222;

$medium-color: #36802d;

$light-color: #fff;
$light-color-01: #bed7ba;
$light-color-02: #f6f6f6;
$light-color-03: #c4c4c4;
$light-color-04: #fafafa;

$grey: #444;

$sans-serif-font-family: Lato, Verdana, sans-serif;
$serif-font-family: Heuristica, 'Times New Roman', serif;

$main-font-size: 16px;

$huge-font-size: 48px;

$small-font-size: 14px;

$header-01-font-size: 32px;

$header-02-font-size: 24px;
$subsection-header-font-size: 20px;

$icons-header-font-size: 20px;





$very-huge-font-size: 72px;



$very-large-font-size: 24px;

$button-font-size: 18px;

$extra-large-font-size: 36px;

$large-font-size: 20px;

$small-font-size: 14px;



$cite-font-size: 18px;


@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
}

@mixin box-shadow($options) {
  -webkit-box-shadow: $options;
  -moz-box-shadow: $options;
  box-shadow: $options;
}

@mixin animation-name($name) {
	-webkit-animation-name: $name;
	-moz-animation-name: $name;
	animation-name: $name;
}

@mixin animation-duration($duration) {
	-webkit-animation-duration: $duration;
	-moz-animation-duration: $duration;
	animation-duration: $duration;
}

@mixin animation-delay($delay) {
	-webkit-animation-delay: $delay;
	-moz-animation-delay: $delay;
	animation-delay: $delay;
}

@mixin animation-iteration-count($count) {
	-webkit-animation-iteration-count: $count;
	-moz-animation-iteration-count: $count;
	animation-iteration-count: $count;
}

@mixin animation-timing-function($timing-function) {
	-webkit-animation-timing-function: $timing-function;
	-moz-animation-timing-function: $timing-function;
	animation-timing-function: $timing-function;
}

@mixin background-gradient-right($color-01, $color-02, $color-03) {
	-moz-background: -moz-linear-gradient(left, $color-01, $color-02, $color-03);
	-webkit-background: -webkit-linear-gradient(left, $color-01, $color-02, $color-03);
	-o-background: -o-linear-gradient(left, $color-01, $color-02, $color-03);
	-ms-background: -ms-linear-gradient(left, $color-01, $color-02, $color-03);
	background: linear-gradient(to right, $color-01, $color-02, $color-03);
}

@import 'hawk-animates';

* {
margin: 0;
padding: 0;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}
*:focus {
outline: none;
}

.hidden {
opacity: 0;
}
.visible {
opacity: 1;
}

html {
font-family: $sans-serif-font-family;
font-weight: 400;
font-size: $main-font-size;
color: $dark-color;
}

a {
color: $dark-color;
text-decoration: none;
@include transition(all .2s linear);

	img {
	border: 0;
	}
}

img {
display: inline-block;
max-width: 100%;
}

/***** HEADERS *****/

h1 {

}

h2 {

}

h3 {

}

.section-header {
text-align: left;
padding: 0 0 50px 0;

	.section-header__title {
	font-family: $serif-font-family;
	font-size: $header-01-font-size;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 400;
	}

	.section-header__subtitle {
	font-size: $header-02-font-size;
	line-height: $header-02-font-size + 8px;
	font-weight: 400;
	letter-spacing: 1px;
	}
}

.subsection-header {
	.subsection-header__title {
	color: $dark-color-01;
	font-size: $subsection-header-font-size;
	font-weight: 500;
	}
}

/***** TEXT *****/

.line {
display: block;
}

/***** LISTS *****/

ul {
list-style-type: none;
}

.icons {
text-align: center;
padding: 0;
margin: 0 auto;
list-style-type: none;
width: 900px;
	
	> li {
	display: inline-block;
	width: 33.33%;
	padding: 20px 30px;
	margin: 0 0 0 -5px;
	vertical-align: top;
	@include box-sizing(border-box);
	}

	.icons__icon-container {
	margin: 0 auto 20px auto;
	width: 100px;
	height: 100px;
	background: $light-color-02;
	@include border-radius(50%);
	}

	.icons__icon {
	margin: 0 auto;
	}

	.icons__header {
	font-size: $icons-header-font-size;
	font-weight: 400;
	}
}

.dropdown {
position: relative;
display: block;
max-width: 300px;

	.dropdown__header {
	padding: 10px 50px 10px 15px;
	border: 1px solid $grey;
	position: relative;
	cursor: pointer;

		.icon {
		position: absolute;
		top: 50%;
		right: 16px;
		margin: -4px 0 0 0;
		@include animation-name(arrowTurnDown);
		@include animation-duration(.2s);
		}
	}

	.dropdown__list {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100%;
	font-size: $small-font-size;
	padding: 15px 10px;
	background: $light-color-04;
	border: 1px solid $light-color-03;
	@include box-sizing(border-box);
	z-index: 10;

		> li {
		display: block;
		padding: 5px 0;
		}
		a {
		display: block;
		}
	}
}
.dropdown.dropdown--open {
	.dropdown__header {
		.icon {
		@include animation-name(arrowTurnUp);
		@include transform(rotate(180deg));
		}
	}
}




.letter-mark-list {
list-style-type: upper-alpha;
padding: 0 0 0 60px;
	li {
	padding: 3px 0;
	}
}

.logos {
text-align: left;
width: 1280px;
margin: 0 auto;

	> li {
	width: 220px;
	display: inline-block;
	margin: 0 0 0 -5px;
	padding: 25px 50px;
	vertical-align: middle;

		a {
		display: block;
		}
		img {

		}
	}
}

.horizontal-list {
	> li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 -5px;
	padding: 0 35px;
	}
	> li:first-child {
	padding-left: 0;
	}
	> li:last-child {
	padding-right: 0;
	}
}

/***** CONTAINERS *****/

.site-content {
overflow: hidden;
max-width: 1300px;
margin: 0 auto;
}

.wrapper {
display: table;
width: 100%;
height: 100%;

	> div {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	}
}

.container {
overflow: hidden;
padding: 0;
position: relative;

	.column {
	float: left;
	@include box-sizing(border-box);
	}
	.col-9 {
	width: 3/4 * 100%;
	}
	.col-8 {
	width: 2/3 * 100%;
	}
	.col-6 {
	width: 1/2 * 100%;
	}
	.col-4 {
	width: 1/3 * 100%;
	}
	.col-3 {
	width: 1/4 * 100%;
	}
	.col-2 {
	width: 1/6 * 100%;
	}

	.middle {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	margin: 0 0 0 -25%;
	}
}
.container--reverse {
	.column {
	float: right;
	}
}
.container--same-height-columns {
position: relative;

	.column {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	}
	.column--highest {
	position: static;
	}
}









.quotes {
width: 1000px;
margin: 0 auto;
position: relative;
padding: 20px 0 0 0;

	ul {
	list-style-type: none;
	}
	p {
	letter-spacing: 2px;
	text-align: center;
	font-weight: 600;
	line-height: $main-font-size + 8px;
	}
	cite {
	text-align: center;
	display: block;
	font-style: normal;
	padding: 40px 0 0 0;
	font-size: $cite-font-size;
	letter-spacing: 2px;
	}
}



.vimeo {
position: relative;
padding-bottom: 56.75%;
height: 0;
margin: 0 auto;

	iframe,
	video {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	}
}

/***** MODULES *****/

.gallery {
padding: 50px 0;
overflow: hidden;

	ul {
	list-style-type: none;
	text-align: left;

		li {
		float: left;
		width: 24.25%;
		padding: 0 .5% 1% .5%;

			a {
			display: block;
			position: relative;
			padding: 0 0 67% 0;
			overflow: hidden;

				img {
				display: block;
				position: absolute;
				min-height: 100%;
				min-width: 100%;
				top: 0;
				left: 0;
				}
			}
		}
		li:nth-child(4n + 1) {
		padding-left: 0;
		}
		li:nth-child(4n + 4) {
		padding-right: 0;
		}
	}
}

/***** FORMS *****/

.form {
width: auto;
margin: 0 auto;
padding: 0;

	fieldset {
	border: 0;
	}
	.form__field-container {
	display: block;
	margin: 0 auto;
	padding: 10px 0;
	}

	.form__field {
	display: block;
	letter-spacing: 1px;
	padding: 10px 15px;
	width: 100%;
	margin: 0;
	-webkit-appearance: none;
	border: 1px solid $dark-color-01;
	background: $light-color;
	color: $dark-color;
	@include transition(all .2s linear);
	@include box-sizing(border-box);
	@include border-radius(0);
	}
	.form__field:focus {
	border-color: $dark-color;
	}

	input::-webkit-input-placeholder, /* WebKit, Blink, Edge */
	input:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
	input::-moz-placeholder, /* Mozilla Firefox 19+ */
	input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: $dark-color;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 400;
	opacity: 1;
	}

	.dropdown {
	max-width: 100%;
	}

	.button-container {
	padding: 30px 0 0 0;
	text-align: center;
	}
}

.choice-field {
cursor: pointer;

	input {
	display: none;
	}

	.choice-field__inner {
	margin: 10px 15px;
	position: relative;
	padding: 0 0 0 30px;

		.choice-field__field-container {
		border: 1px solid $dark-color;
		position: absolute;
		top: 0;
		left: 0;
		}

		.choice-field__field {
		width: 15px;
		height: 15px;
		}
	}

	input[type="checkbox"] + .choice-field__inner {

	}

	input[type="checkbox"]:checked + .choice-field__inner {
		.choice-field__field {
		background: $dark-color-01;
		}
	}
}

.choise {
margin: 0 0 30px 0;

	.default {
	color: #bfbfbf;
	text-align: center;
	}
	label div {
	border: 0;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	letter-spacing: 2px;
	height: auto;
	}
}

/**
.checkbox {
overflow: hidden;
width: auto;
text-align: left;
float: none;
display: block;
padding: 0 0 0 35px !important;
position: relative;
}
input[type="checkbox"] {
display: none;
}
input[type="checkbox"] + div {
display: inline-block;
float: left;
width: 20px;
height: 20px;
vertical-align: middle;
margin: 0 15px 0 0;
background: #fff;
@include border-radius(3px);
-webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.25);
box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.25);
border-top: 1px solid rgba(0,0,0,0.25);
position: absolute;
top: 0;
left: 0;
}
input[type="checkbox"] + div span {
display: block;
width: 20px;
height: 20px;
background: #c4c4c4;
display: none;
}
input[type="checkbox"] ~ p {
display: block;
vertical-align: middle;
font-size: 16px;
letter-spacing: 2px;
line-height: 24px;
width: auto;
padding: 0;
}
input[type="checkbox"]:checked + div span {
display: block;
}

.choise-list {
cursor: pointer;
position: relative;

	label {
	cursor: pointer;
	margin: 0;

		div {
		color: #00c9fb;
		}
	}
	.choises {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
	text-align: left;
	z-index: 3;
	}
	.choise {
	text-align: left;
	}
	input[type="radio"] {
	display: none;
	}
	.checkboxes {
	display: none;
	}
}

.choise-list input[type="radio"]:checked + div {
background: #00c9fb;
color: #fff;
}

**/

/***** HEADER *****/

.site-header {
overflow: hidden;
position: relative;
padding: 100px 0;

	.site-header__title {
	font-size: $huge-font-size;
	font-family: $serif-font-family;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	}
}

/***** MENU *****/



/***** FOOTER *****/


/***** SECTIONS *****/

.section {
padding: 100px 50px;
}
.section--full-width {
padding-left: 0;
padding-right: 0;
}

.subsection {
padding: 20px 0;
}

.light {
color: $dark-color;
	a {
	color: $dark-color;
	}
}

.medium,
.dark {
color: $light-color;

	a {
	color: $light-color;
	}
}

.image-bg-section {
position: relative;

	.inner {
	width: 45%;
	position: relative;
	z-index: 5;
	}
	.background-image {
	position: absolute;
	bottom: 90px;
	right: 0;
	z-index: 0;
	}
}

.scroll-zoom {
position: relative;

	.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: -1;
	}
}

.for-overlayer {
display: none !important;
}

.overlayer {
position: fixed;
display: none;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 7000;
background: rgba(255, 255, 255, 1);
color: #000;
overflow: auto;
padding: 0;
}
.overlayer .overlayer-inner {
margin: 0;
position: relative;
}
.overlayer section {
margin: 0 auto;
position: relative;
padding: 0;
}
.overlayer .close-icon {
position: absolute;
top: 35px;
right: 35px;
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
transition: all .2s linear;
z-index: 8000;
display: block;
}
.overlayer .close-icon:hover {

}

.overlayer-body-header {
padding: 100px 0 50px 0;
position: relative;
text-align: center;
}
.overlayer-body-header h1 {
font-size: 48px;
font-weight: 700;
letter-spacing: 7px;
color: #00c9fb;
}

.overlayer-body .single-vimeo {
width: 1400px;
margin: 0 auto;
}

.overlayer .overlayer-body {
margin: 0 100px;
padding: 0 0 120px 0;
}

.overlayer .vimeo {
position: relative;
padding-bottom: 56.75%;
height: 0;
}
.overlayer iframe {
display: block;
margin: 0 auto;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}
.overlayer .overlayer-body .single {
text-align: center;
text-indent: 0;
color: #fff;
}



.section-01 {
padding-top: 50px;

	.column {
	padding: 30px;
	}
	
	.container:nth-child(2n + 1) {
		.column:nth-child(2n + 1) {
		background: $light-color-01;
		}
		.column:nth-child(2n + 2) {
		background: $light-color-02;
		}
	}

	.container:nth-child(2n + 2) {
		.column:nth-child(2n + 1) {
		background: $light-color-02;
		}
		.column:nth-child(2n + 2) {
		background: $light-color-01;
		}
	}
}

.section-04 {
max-width: 500px;
}

/***** SYMBOLS *****/

/* icon hamburger */

.icon-hamburger {
display: block;
width: 27px;
height: 17px;
position: relative;
	
	> div {
	position: absolute;
	left: 0;
	height: 3px;
	background: $dark-color;
	width: 100%;
	@include border-radius(1.5px);
	}
	> div:nth-child(1) {
	top: 0;
	}
	> div:nth-child(2) {
	top: 7px;
	}
	> div:nth-child(3) {
	top: 14px;
	}
}
.icon-hamburger--medium {
	> div {
	background: $medium-color;
	}
}
.icon-hamburger--light {
	> div {
	background: $light-color;
	}
}
.icon-hamburger--large {
width: 32px;
height: 20px;

	> div {
	height: 4px;
	@include border-radius(2px);
	}
	> div:nth-child(1) {
	top: 0;
	}
	> div:nth-child(2) {
	top: 8px;
	}
	> div:nth-child(3) {
	top: 16px;
	}
}
.icon-hamburger--small {
width: 20px;
height: 12px;

	> div {
	height: 2px;
	@include border-radius(1px);
	}
	> div:nth-child(1) {
	top: 0;
	}
	> div:nth-child(2) {
	top: 5px;
	}
	> div:nth-child(3) {
	top: 10px;
	}
}

/* icon cross */

.icon-cross {
width: 21px;
height: 21px;
position: relative;
overflow: hidden;

	> div {
	position: absolute;
	background: $dark-color;
	display: block;
	}

	> div:nth-child(1) {
	width: 100%;
	left: 0;
	top: 50%;
	height: 3px;
	margin: -1.5px 0 0 0;
	}
	> div:nth-child(2) {
	width: 3px;
	top: 0;
	left: 50%;
	margin: 0 0 0 -1.5px;
	height: 100%;
	}
}
.icon-cross--large {
width: 26px;
height: 26px;

	> div:nth-child(1) {
	height: 4px;
	margin: -2px 0 0 0;
	}
	> div:nth-child(2) {
	width: 4px;
	margin: 0 0 0 -2px;
	}
}
.icon-cross--small {
width: 16px;
height: 16px;

	> div:nth-child(1) {
	height: 2px;
	margin: -1px 0 0 0;
	}
	> div:nth-child(2) {
	width: 2px;
	margin: 0 0 0 -1px;
	}
}

.icon-cross--rotated {
@include transform(rotate(45deg));
}

/* icon arrow */

.icon-arrow {
position: relative;
width: 14px;
height: 14px;
border-top: 2px solid $dark-color;
border-right: 2px solid $dark-color;
}
.icon-arrow--left {
@include transform(rotate(-135deg));
left: 3px;
}
.icon-arrow--up {
@include transform(rotate(-45deg));
top: 3px;
}
.icon-arrow--right {
@include transform(rotate(45deg));
left: -3px;
}
.icon-arrow--down {
@include transform(rotate(135deg));
top: -3px;
}
.icon-arrow--small {
width: 10px;
height: 10px;
border-width: 2px;
}
.icon-arrow--left.icon-arrow--small {
left: 2px;
}
.icon-arrow--up.icon-arrow--small {
top: 2px;
}
.icon-arrow--right.icon-arrow--small {
left: -2px;
}
.icon-arrow--down.icon-arrow--small {
top: -2px;
}
.icon-arrow--large {
width: 18px;
height: 18px;
border-width: 3px;
}

/* icon triangular icon */

.icon-triangular-arrow-left {
border-right: 12px solid $dark-color;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-left--small {
border-right-width: 10px;
border-top-width: 6px;
border-bottom-width: 6px;
}
.icon-triangular-arrow-left--large {
border-right-width: 14px;
border-top-width: 8px;
border-bottom-width: 8px;
}

.icon-triangular-arrow-up {
border-bottom: 12px solid $dark-color;
border-right: 7px solid transparent;
border-left: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-up--small {
border-bottom-width: 10px;
border-right-width: 6px;
border-left-width: 6px;
}
.icon-triangular-arrow-up--large {
border-bottom-width: 14px;
border-right-width: 8px;
border-left-width: 8px;
}

.icon-triangular-arrow-right {
border-left: 12px solid $dark-color;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-right--small {
border-left-width: 10px;
border-top-width: 6px;
border-bottom-width: 6px;
}
.icon-triangular-arrow-right--large {
border-left-width: 14px;
border-top-width: 8px;
border-bottom-width: 8px;
}

.icon-triangular-arrow-down {
border-top: 12px solid $dark-color;
border-right: 7px solid transparent;
border-left: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-down--small {
border-top-width: 10px;
border-right-width: 6px;
border-left-width: 6px;
}
.icon-triangular-arrow-down--large {
border-top-width: 14px;
border-right-width: 8px;
border-left-width: 8px;
}

/***** BUTTONS ******/

.button-container {
text-align: center;
clear: both;
padding: 0 5px;
@include box-sizing(border-box);
}

.button {
clear: both;
display: inline-block;
margin: 0 0 0 -5px;
border: 0;
cursor: pointer;
font-weight: 300;
padding: 15px 70px;
font-size: $button-font-size;
letter-spacing: 2px;
border: 2px solid $dark-color;
max-width: 90%;
@include box-sizing(border-box);
@include transition(all .2s linear);
}
.button.wide {
padding-left: 30px;
padding-right: 30px;
}
.button.light {

}
.button.medium {
border-color: $dark-color;
}

.button-more {
display: none;
}

.arrow {
width: 22px;
height: 22px;
text-indent: -10000px;
display: block;
margin: 0 auto;
border-top: 3px solid #000;
border-right: 3px solid #000;
position: relative;
}
.arrow.light {
border-color: #fff;
}

.arrow.left {
@include transform(rotate(-135deg));
left: 5px;
}
.arrow.right {
@include transform(rotate(45deg));
left: -5px;
}
.arrow.down {
@include transform(rotate(135deg));
top: -5px;
}

/** rwd1800 **/
@media (max-width: 1800px) {

}

/** rwd1600 **/
@media (max-width: 1600px) {

}

/** rwd1400 **/
@media (max-width: 1400px) {

}

/** rwd1200 **/
@media (max-width: 1200px) {

}

/** rwd992 */
@media (max-width: 992px) {

}

/** rwd850 **/
@media (max-width: 850px) {

}

/** rwd768px **/
@media (max-width: 768px) {

}

/** rwd650 **/
@media (max-width: 650px) {

}

/** rwd600 **/
@media (max-width: 600px) {

}

/** rwd500 **/
@media (max-width: 500px) {

}

/** rwd420 **/
@media (max-width: 420px) {

}

/** rwd380 **/
@media (max-width: 380px) {

}