$dark-color: #000;
$dark-color-01: #222;

$medium-color: #36802d;

$light-color: #fff;
$light-color-01: #bed7ba;
$light-color-02: #f6f6f6;
$light-color-03: #c4c4c4;
$light-color-04: #fafafa;

$grey: #444;

$sans-serif-font-family: Lato, Verdana, sans-serif;
$serif-font-family: Heuristica, 'Times New Roman', serif;

$main-font-size: 16px;

$huge-font-size: 48px;

$extra-large-font-size: 28px;

$very-large-font-size: 24px;

$small-font-size: 14px;

$header-01-font-size: 32px;

$header-02-font-size: 24px;

$subsection-header-01-font-size: 20px;

$icons-header-font-size: 20px;





$very-huge-font-size: 72px;

$button-font-size: 16px;

