$dark-color: #000;
$dark-color-01: #222;

$medium-color: #36802d;

$light-color: #fff;
$light-color-01: #bed7ba;
$light-color-02: #f6f6f6;
$light-color-03: #c4c4c4;
$light-color-04: #fafafa;

$grey: #444;

$sans-serif-font-family: Lato, Verdana, sans-serif;
$serif-font-family: Heuristica, 'Times New Roman', serif;

$main-font-size: 14px;
$main-font-size-00: 16px;

$huge-font-size: 36px;
$huge-font-size-00: 42px;
$huge-font-size-01: 48px;

$extra-large-font-size: 28px;

$very-large-font-size: 24px;

$small-font-size: 14px;

$header-01-font-size: 24px;
$header-01-font-size-00: 28px;
$header-01-font-size-01: 32px;

$header-02-font-size: 24px;

$subsection-header-01-font-size: 18px;
$subsection-header-01-font-size-00: 20px;

$icons-header-font-size: 20px;





$very-huge-font-size: 72px;

$button-font-size: 16px;

$rwd-500: 500px;
$rwd-550: 550px;
$rwd-650: 650px;
$rwd-768: 768px;
$rwd-900: 900px;
$rwd-992: 992px;
$rwd-1100: 1100px;
$rwd-1300: 1300px;
$rwd-1500: 1500px;
$rwd-1700: 1700px;